:root{
    /* Variables de CSS */
    --white-b: #ffffff;
    --black-b: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.login{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.form-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}
.logo{
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
}
.title{
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: center;
}
.subtitle{
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
}
.label{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}
.input{
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}
.primary-button{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white-b);
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
}
.login-button{
    margin-top: 14px;
    margin-bottom: 30px;
}
@media (max-width:640px) {
    .logo{
        display: block;
    }
    .form-container .signup-button{
        width: inherit;
        position: absolute;
        bottom: 24px;
    }
}

/* clase2.html --------------------------------------------------------------------------*/
.email-image {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}
.email-image img{
    width: 80px;
}
.resend{
    font-size: var(--sm);
}
.resend span{
    color: var(--very-light-pink);
}
.resend a{
    color: var(--hospital-green);
    text-decoration: none;
}
.container2{
    justify-items: center;
}

/* clase3.html --------------------------------------------------------------------------*/
.form a{
    color:var(--hospital-green);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-bottom: 52px;
}
.input-email{
    margin-bottom: 22px;
}
.secondary-button{
    background-color: var(--white-b);
    border-radius: 8px;
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
}
/* clase4.html --------------------------------------------------------------------------*/
.input-name, .input-email, .input-password{
    margin-bottom: 22px;
}
.title4{
    text-align: start;
    margin-bottom: 36px;
}
.form div{
    display: flex;
    flex-direction: column;
}
@media(max-width:640px){
    .form-container4{
        height: 100%;
    }
    .form4{
        height: 100%;
        justify-content: space-between;
    }
}
/* clase5.html --------------------------------------------------------------------------*/
.value{
    color: var(--very-light-pink);
    font-size: var(--md);
    margin: 8px 0 32px 0;
}
/* clase6.html --------------------------------------------------------------------------*/
.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,240px);
    gap: 26px;
    place-content: center;
}
.product-card{
    width: 240px;

}
.product-card img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;  
}
.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.product-info figure{
    margin: 0;
}
.product-info figure img{
    width: 35px;
    height: 35px;
}
.product-info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}
.product-info div p:nth-child(2){
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
}

@media(max-width:640px){
    .cards-container{
        grid-template-columns: repeat(auto-fill,140px);
    }
    .product-card{
        width: 140px;
    }
    .product-card img{
        width: 140px;
        height: 140px;
    }
}
/* clase7.html --------------------------------------------------------------------------*/
.desktop-menu{
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 8px;
    padding: 20px 20px 0 20px;
}
.desktop-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.desktop-menu ul li{
    text-align: end;
}
.desktop-menu ul li:last-child{
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}
.desktop-menu ul li:last-child a{
    color: var(--hospital-green);
    font-size: var(--sm);
}
.desktop-menu ul li a{
    color: var(--black-b);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}
.desktop-menu ul li:not(:last-child){
    font-weight: bold;
}
/* clase7.html --------------------------------------------------------------------------*/
.mobile-menu{
    padding: 20px;
}
.mobile-menu a{
    text-decoration: none;
}
.mobile-menu ul{
    list-style: none;
    padding: 0;
    margin: 24px 0 0;
}
.mobile-menu ul:nth-child(1){
    border-bottom: 1px solid var(--very-light-pink);
}
.mobile-menu ul:last-child{
    margin-top: 50px;
}
.mobile-menu ul li{
    margin-bottom: 24px;
}
.categories-8 a, .account-8 a{
    font-weight: bold;
    color: var(--black-b);
}
.email-8{
    font-size: var(--sm);
    color: var(--black-b);
}
.sign-out-8{
    font-size: var(--sm);
    color: var(--hospital-green);
    font-weight: bold;
}